
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">

    
    <div>
        <label>Urun</label>
        <input type="text" class="form-control" name="Urun" />
    </div>
    <div>
        <label>Musteri</label>
        <input type="text" class="form-control" name="Musteri" />
    </div>
    <div>
        <label>Adet</label>
        <input type="text" class="form-control" name="Adet" />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <br />
    <div>
        <button class="btn btn-danger">Satış Ekle</button>
    </div>
</form>


