@using PizzaWebMVCProje.Models
@model List<tblUrunler>
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form method="post" class="form-group">
    <div>
        <label>Ürün Adı:</label>
        <input type="text" class="form-control" name="UrunAd" />
    </div>
    <div>
       <br />
        

        <fieldset>
            Kategori Seçiniz: <select id="KategoriType" name="KategoriType">

                <option value=""></option>

                <option selected="selected" value="0">1</option>

                <option value="1">2</option>

                <option value="2">3</option>

                <option value="3">4</option>

            </select>

        </fieldset>
        <br />
    </div>
    <div>
        <label>Fiyat:</label>
        <input type="text" class="form-control" name="Fiyat" />


    </div>
    <br />
    <div>
        <button class="btn btn btn-danger">Ürünü Ekle</button>
    </div>

</form>