
@{
    ViewBag.Title = "Yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<img src="~/img/KATEGORİ EKLEME.png" alt="yoneticiİletisim" width="1200" height="250" />
<form class="form-group" method="post">

<div>
    <label>Kategori Adı</label>
    <input type="text" class="form-control" name="KategoriAdi" />
</div>
    <br />
    <div>
        <button class="btn btn-danger">Ekle</button>
    </div>
</form>

