@{
    ViewBag.Title = "İLETİŞİM";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ankara / Yenimahalle <br />
        <abbr title="Phone">Telefon:</abbr>
        0537 863 04 09
        <br />
        <abbr title="Phone"> İş Yeri Telefon:</abbr>
        0312 025 45 78 
    </address>

    <address>
        <strong>Kişisel Mail Adresi:</strong>   <a href="mailto:caglaozkan@gmail.com">caglaozkan@gmail.com</a><br />
        <strong>Butik Pizza Mail Adresi:</strong> <a href="mailto:butikpizza@gmail.com">butikpizza@gmail.com</a>
    </address>
</main>